.error{
    color: red;
    font-style: italic;
    font-weight: 700;
}
.footer-area{
    background: #0f6674;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}
.footer-area p{
    margin: 0;
}